<body style="font-size:20px; padding:50px;">
   
   <h1>TinyApp</h1>

  <% if (!user) {%> 
    <form method="POST" action="<%=`/login`%>">
     <a  href="/register">Register</a>
     <a> | </a>
     <a  href="/login">Login</a>
    </form>
  <% } else { %>
    <p>Hello <%= user %></p>
    <form method="POST" action="<%=`/logout`%>">
      <button class="btn btn-primary" type="submit" value="logout" action="/logout">Log out</button>
    </form>
  <% }; %>
  
</body>
</html>

