<!DOCTYPE html>
<html lang="en">

<header>
Example
<form method="POST" action="<%= `/login`%>">
  Username:<br>
  <input  type="text" name="username">
  <input type="submit" value="Submit">

</form>

<h1>TinyApp</h1>
</header>


</html>