<!DOCTYPE html>
<html lang="en">

<header>

 TinyApp</h1>

  <% if (!username ) {%> 
  <form method="POST" action="<%=`/login`%>">
  Username:<br>
     <label for="Username">  Name: </label>
  <input  type="text" name="username" placeholder = "Username">
  <input type="submit" value="Submit">
 <% } else { %>
    <p>Hello <%= username %></p>
  <form method="POST" action="<%=`/logout`%>">
    <button type="submit" value="logout" action="/logout">Log out</button>

</form>
<% }; %>


</header>


</html>


