<!DOCTYPE html>
<html lang="en">

<header>
Example
<form>
  Username:<br>
  <input method="POST" type="text" name="Username" action="<%= `/login`%>">
  <input type="submit" value="Submit">

</form>

<h1>TinyApp</h1>
</header>


</html>