<!DOCTYPE html>
<html lang="en">


<h4>Create Account</h4>

<form>
      <label for="email">Email</label>
   <input type=email name=email placeholder=email required>
  </form>
 <form>
      <label for="password">Password</label>

   <input type=password name=password placeholder=password required>
   
   <button>Register</button>

</div>
</header>
