<!DOCTYPE html>
<html lang="en">

<header>
<h4>Create Account</h4>

<form method="POST" action="<%=`/register`%>">
      <label for="email">Email</label>
   <input type=email name=email placeholder=email >
      <label for="password">Password</label>

   <input type=password name=password placeholder=password >
   
   <button>Register</button>
</form>
</div>
</header>
